@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;700&display=swap');

@keyframes arrowAnimation {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(10px);
    }
    100% {
      opacity: 0;
      transform: translateY(20px);
    }
}

.arrowAnimation {
    animation: arrowAnimation 2s ease-in-out infinite;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fadeIn {
    display: inline-block; /* Ensure the letters are inline and can animate */
    opacity: 0;
    animation: fadeIn 2s forwards; /* Adjust the duration as needed */
}

@keyframes fadeInSlower {
  0% {
      opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.fadeInSlower {
  display: inline-block; /* Ensure the letters are inline and can animate */
  opacity: 0;
  animation: fadeIn 5s forwards; /* Adjust the duration as needed */
}